<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>chaptertitle</key>
		<string>序</string>
		<key>id</key>
		<string>338</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>1.从东南亚到上海-外国什么都是圆的</string>
		<key>id</key>
		<string>339</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>2.厕所的水管</string>
		<key>id</key>
		<string>340</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>3.辞职旅行的人都犯贱</string>
		<key>id</key>
		<string>341</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>4.亚航空姐都是“女王”</string>
		<key>id</key>
		<string>342</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>5.Tuk-Tuk和柬埔寨车夫</string>
		<key>id</key>
		<string>343</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>6.别在柬埔寨欺骗小女孩</string>
		<key>id</key>
		<string>344</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>7.没完没了的寺庙看不尽</string>
		<key>id</key>
		<string>345</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>8.旅行，是个什么东西</string>
		<key>id</key>
		<string>346</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>9.“革命未成功，同志要努力”</string>
		<key>id</key>
		<string>347</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>10.曼谷！曼谷！</string>
		<key>id</key>
		<string>348</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>11.曼谷之夜</string>
		<key>id</key>
		<string>349</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>12.不可思议的东方索多玛城</string>
		<key>id</key>
		<string>350</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>13.人妖无处不在</string>
		<key>id</key>
		<string>351</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>14.蚊子占领素可泰</string>
		<key>id</key>
		<string>352</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>15.迷失在清迈</string>
		<key>id</key>
		<string>353</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>16.慢船去琅勃拉邦</string>
		<key>id</key>
		<string>354</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>17.传说中的神奇蘑菇</string>
		<key>id</key>
		<string>355</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>18.谁是可爱的人</string>
		<key>id</key>
		<string>356</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>19.再见，东南亚再见</string>
		<key>id</key>
		<string>357</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>20.回国，被遗忘的西双版纳</string>
		<key>id</key>
		<string>358</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>21.彩云之南</string>
		<key>id</key>
		<string>359</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>22.少不入川，老不离蜀</string>
		<key>id</key>
		<string>360</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>23.辩经、坛城、郎木寺</string>
		<key>id</key>
		<string>361</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>24.古城，一座又一座</string>
		<key>id</key>
		<string>362</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>25.回</string>
		<key>id</key>
		<string>363</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>26. 从西藏到尼泊尔和印度-方向：一路向西</string>
		<key>id</key>
		<string>364</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>27.出师不利</string>
		<key>id</key>
		<string>365</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>28.要不要去西藏？</string>
		<key>id</key>
		<string>366</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>29.从康定到稻城</string>
		<key>id</key>
		<string>367</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>30.每个人心中都有一个香格里拉</string>
		<key>id</key>
		<string>368</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>31.去拉萨</string>
		<key>id</key>
		<string>369</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>32.拉萨无可取代</string>
		<key>id</key>
		<string>370</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>33.初到尼泊尔</string>
		<key>id</key>
		<string>371</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>34.你妹你妹你妹</string>
		<key>id</key>
		<string>372</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>35.逃票“烧寺庙”</string>
		<key>id</key>
		<string>373</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>36.驴友们穷困却不潦倒</string>
		<key>id</key>
		<string>374</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>37.来吧来吧来吧，博卡拉</string>
		<key>id</key>
		<string>375</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>38.一辆自行车引发的纠纷</string>
		<key>id</key>
		<string>376</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>39.佛祖和萤火虫</string>
		<key>id</key>
		<string>377</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>40.印度，我来啦</string>
		<key>id</key>
		<string>378</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>41.It's feeking crazy</string>
		<key>id</key>
		<string>379</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>42.恒河边的“邋遢”圣城</string>
		<key>id</key>
		<string>380</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>43.男男性骚扰</string>
		<key>id</key>
		<string>381</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>44.开始发烧的菩提伽耶</string>
		<key>id</key>
		<string>382</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>45.“金三角”“团队游”</string>
		<key>id</key>
		<string>383</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>46.圣水中的锡克教金庙</string>
		<key>id</key>
		<string>384</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>47.涅槃</string>
		<key>id</key>
		<string>385</string>
	</dict>
	<dict>
		<key>chaptertitle</key>
		<string>48.尾声</string>
		<key>id</key>
		<string>386</string>
	</dict>
</array>
</plist>
